<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trunk_robot">
  <xacro:include filename="$(find robot_model)/urdf/trunk_robot.urdf"/>
  <xacro:include filename="$(find trunk_impedance_control)/urdf/trunk_ethercat_impedance.ros2_control.xacro"/>
  <xacro:trunk_ethercat_impedance_ros2_control
    slave_config_path="$(find trunk_impedance_control)/config/eyou_slave_cst.yaml"
    reversed_slave_config_path="$(find trunk_impedance_control)/config/eyou_slave_cst_reverse.yaml"/>
</robot>
